  <form class="form1" method="post" action="insert">
        <div class="section">
                <div class=" col-sm-12 col-md-4">
                    <div class="headerSection">
                        <img class="logoImg" src="images/logo.png">
                    </div>
                    <div class="idk">
                        <label for="exampleFormControlInput1">nome</label>
                        <input name="nome" type="text" class="form-control" placeholder="Nome completo" />
                    </div>
                    <div class="idk">
                        <label for="exampleFormControlInput1">email</label>
                        <input name="email" type="text" class="form-control" placeholder="example@email.com" />
                    </div>
                    <div class="idk">
                        <label for="exampleFormControlInput1">telefone</label>
                        <input name="telefone" type="bigInteger" class="form-control" 
                        placeholder="(__) ____-____"/>
                    </div>
                    <div class="idk">
                        <label for="exampleFormControlInput1">endereco</label>
                        <input name="endereco" type="bigInteger" class="form-control" 
                        placeholder="R XV de Novembro" />
                    </div>  
                </div>   
            <button class="btn btn-dark" style="margin-top:35px; float:right;" type="submit">Cadastrar</button>       
                </div> 
        </div>
 </form>

