  <form class="form1" method="post" action="controllerForm">
        <div class="section">
            <div class="s1 row">
                {{!-- <div class=" col-sm-12 col-md-4"> --}}
                    <div class="">
                        <label for="exampleFormControlInput1">nome</label>
                        <input name="nome" type="text" class="form-control" placeholder="Nome completo" />
                    </div>
                    <div class="">
                        <label for="exampleFormControlInput1">email</label>
                        <input name="email" type="text" class="form-control" 
                        placeholder="example@email.com" />
                    </div>
                    <div class="">
                        <label for="exampleFormControlInput1">telefone</label>
                        <input name="telefone" type="bigInteger" class="form-control" 
                        placeholder="(__) ____-____"/>
                    </div>
                    <div class="">
                        <label for="exampleFormControlInput1">endereco</label>
                        <input name="endereco" type="bigInteger" class="form-control" 
                        placeholder="R XV de Novembro" />
                    </div>
                {{!-- </div> --}}
            </div>
            <button class="btn btn-dark" style="margin-top:15px" type="submit">Cadastrar</button>   
        </div>
 </form>

