<div class="section">
    <div class="s1 row">
        {{!-- <div class=" col-sm-12 col-md-4"> --}}
            {{#data}}
            <div class="">
                nome: 
                {{nome}}</br>
                 endereço: 
                {{endereco}}</br>
                 telefone: 
                {{telefone}}</br>
            </div>
            {{/data}}
        {{!-- </div> --}}
    </div>
    <button class="btn btn-dark" style="margin-top:15px" type="submit">Cadastrar</button>   
</div>

